<a href="https://colab.research.google.com/github/alanklin/BC-Fall2024-CaseCompetition-Team2/blob/main/Code/data_investigation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Clone the Github Repo to Colab files.
!git clone https://github.com/BC-Fall2024-CaseCompetition-Team2.git

In [ ]:
# Install packages and versions.
!pip install -r /content/BC-Fall2024-CaseCompetition-Team2/requirements.txt

# change working directory.
!cd /content/BC-Fall2024-CaseCompetition-Team2/Code

In [3]:
!git push

fatal: could not read Username for 'https://github.com': No such device or address

In [ ]:
from _Setup import *

In [ ]:
train_data = pd.read_csv(rawTrainFile)

In [ ]:
train_data.head(5)

,patient,time,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS,SepsisLabel
0,16426,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,57.03,1.0,0.0,1.0,-4.25,1.0,0.0
1,16426,2,78.0,99.5,35.25,108.5,84.5,69.0,12.0,NaN,...,14.2,NaN,NaN,57.03,1.0,0.0,1.0,-4.25,2.0,0.0
2,16426,3,80.0,99.0,36.20,113.0,87.0,73.0,12.0,NaN,...,NaN,NaN,NaN,57.03,1.0,0.0,1.0,-4.25,3.0,0.0
3,16426,4,79.0,100.0,36.50,112.0,83.0,68.0,12.0,NaN,...,NaN,NaN,NaN,57.03,1.0,0.0,1.0,-4.25,4.0,0.0
4,16426,5,73.0,100.0,36.50,115.0,80.0,64.0,11.0,NaN,...,NaN,NaN,NaN,57.03,1.0,0.0,1.0,-4.25,5.0,0.0

In [ ]:
test_data = pd.read_csv(rawTestFile)

C:\Users\super\AppData\Local\Temp\ipykernel_47188\166706583.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  test_data = pd.read_csv(rawTestFile)

In [ ]:
test_data.head(5)

,patient,time,HR,O2Sat,Temp,SBP,MAP,DBP,Resp,EtCO2,...,PTT,WBC,Fibrinogen,Platelets,Age,Gender,Unit1,Unit2,HospAdmTime,ICULOS
0,6560,1,110.0,98.0,37.67,124.0,78.00,NaN,16.0,NaN,...,NaN,NaN,NaN,NaN,81.64,1.0,1.0,0.0,-0.03,2.0
1,6560,2,103.0,96.0,NaN,101.0,69.67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.64,1.0,1.0,0.0,-0.03,3.0
2,6560,3,105.0,96.0,NaN,125.0,75.67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.64,1.0,1.0,0.0,-0.03,4.0
3,6560,4,118.0,94.0,NaN,150.0,94.67,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.64,1.0,1.0,0.0,-0.03,5.0
4,6560,5,99.0,94.0,37.50,98.0,64.00,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,81.64,1.0,1.0,0.0,-0.03,6.0